body {
  text-align: center;
  background-color: #011F3F;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.white {
  color: aliceblue;
  font-size: larger;
}

.hint  {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hint .mobile {
  display: none;
}

.hint button.mobile {
  width: 200px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  background-blend-mode: soft-light;
  border: none;
  box-shadow: 1px 4px 1px rgba(110, 108, 108, 0.63);
}

.hint button.mobile:active {
  transform: translate(0px, 3px);
  box-shadow: 1px 1px 2px rgba(44, 44, 44, 0.774);
  outline: 1px #106fd4a6;

}

@media only screen and (max-width:900px) {

    
  .hint p.mobile {
    display: inline;
  }
    
  .hint button.mobile {
    display: inline;
  }

  .hint .desktop {
    display: none;
  }


}